<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoSBL.Properties.Settings.mydbConnectionString"
            connectionString="server=localhost;user id=root;password=s3t3mbr0;persistsecurityinfo=True;database=mydb;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>